table {
  width: 100%;
  color: #333;
}
td, tr {
  border: 1px solid #0000000;
  height: 20px;
  transition: all 1s;
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Skranji');
body {
  font-family: 'Kaushan Script', 'Skranji', sans-serif;
}
main {
  display: inline-block;
  justify-content: space-around;
}

#userForm {
  background-color: #97befc;
  border: 6px solid #e3e3e3;
  padding: 1rem 5rem;
    /* border-collapse: collapse; */
}
div {
  padding-top: 3rem;
}
