main {
    width: 80%;
    margin: 1rem auto;
}

.flickName {
    margin: 0 0 0.75 0;
}

.template {
    display: none;
}

.flick.fav {
    background-color: aqua;
}
actions .button,
.actions.button-group {
   margin-bottom: 0;
 }
 flick {
    margin-bottom: 1px;
}

.flick:first-child button.move-up,
.flick:last-child button.move-down {
  background-color: #ddd;
 color: #eee;
  cursor: not-allowed;
}